#experience{
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainContainer {
  padding: 1rem;
  background-color:#020012;
  border: 2px solid var(--highlight);
  width: 28rem;
  border-radius: 10px;
  margin:1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.spa {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color:#fff;
}

.label{
  width: 100%;
  bottom: 15px;
  right: 15px;
  position: absolute;
  font-size: small;
  display: flex;
  justify-content: end;
  color: var(--secondary)
}

.para{
  line-height: 1.3;
}

@media screen and (max-width: 450px) {
  .para{
    font-size: 1.2rem;
  }
}


.content{
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
}
li{
  list-style-type:circle;
  color: var(--secondary);
  font-size: 1rem;
}
